<div class="title">
  <div class="action">
    <i class="svg-icon" nz-icon iconfont="icon-left-arrow"></i>
  </div>
  <div class="title-content">测试画面</div>
</div>
<div class="toolbar-center">
  <div>
    <a class="toolbar-item" title="左对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-left-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="右对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-right-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="上对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-top-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="下对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-bottom-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="垂直对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-vertical-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="水平对齐">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-horizontal-align"></i>
      </div>
    </a>
    <a class="toolbar-item" title="水平分布">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-horizontal-between"></i>
      </div>
    </a>
    <a class="toolbar-item" title="垂直分布">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-vertical-between"></i>
      </div>
    </a>
  </div>
  <div>
    <a class="toolbar-item" title="撤销">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-Undo"></i>
      </div>
    </a>
    <a class="toolbar-item" title="重做">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-Redo"></i>
      </div>
    </a>
  </div>
  <div>
    <a class="toolbar-item" title="组合">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-group"></i>
      </div>
    </a>
    <a class="toolbar-item" title="打散">
      <div class="icon">
        <i class="svg-icon" nz-icon iconfont="icon-break"></i>
      </div>
    </a>
  </div>
  <div>
    <div class="zoom-button-group">
      <a>
        <i class="svg-icon" nz-icon iconfont="icon-subtract"></i>
      </a>
      <a>100%</a>
      <a>
        <i class="svg-icon" nz-icon iconfont="icon-plus"></i>
      </a>
    </div>
  </div>
</div>
<div class="toolbar-right"></div>
